html{
    position: relative;
    min-height: 100%;
}

/*Background Image*/
body{
    font-family: 'Arvo', serif;
}


/*.lingua:hover {
        opacity: 0.8;
}

.lingua span:hover {
  color: gray;
}

.dialeto span:hover {
  color: gray;
}

.lingua span {
  color: black;
}

.dialeto span {
  color: black;
}

.dialeto:hover {
  color: #C9C9C9
        opacity: 0.8;
}

path:hover{
        opacity: 0.8;}
*/
a.lingua span{
  min-height: auto;
  margin-top: 4px;
  margin-bottom: 2px;
  color: black;
  min-width: auto;
}
a.dialeto span{
  min-height: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  color: black;
  min-width: auto;
}

a.lingua {
  min-height: auto;
  margin-top: 4px;
  margin-bottom: 2px;
  width: 0px;
  line-height: 1.1em;
}
a.dialeto {
  min-height: auto;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 0px;
  line-height: 1.1em;
}

#tableRsult{
    width: auto;
    font-family: 'Arvo', serif;
  /*  background: url("diversidade_yanomami.png") no-repeat center center;
  /* background-attachment: fixed;*/
    background-size: contain;
}

/*div.pre-scrollable a:hover{
  background-color: blue;
  color: white;
}
*/

a.list-group-item {
  color: blue;
      margin-top:0px;
      margin-bottom: 0px;
    border-width:0px;
    align-content: center;
    padding: 0px;


}

a.list-group-item:first-child {
  color: blue;
    margin-top:0px;
    margin-bottom: 0px;
    border-width:0px;
    padding: 0px;

}

.glyphicon {
    font-size-adjust: auto;

}



.form-group{
    margin: 1px;
}





#container{
            margin-top:120px;
        }


text {
  font-size: 1em;
}



/*Style Jumbotron*/
.jumbotron{
    background-color: transparent;
    text-align: center;
    letter-spacing: 2.5px;
    padding: 10px;
    margin-top: 150px;
    margin-bottom: 48px;

}





/*buttons*/
.signup{
    margin-top: 50px;
}
.entrar{
    margin-top: 50px;
}


.blue{
    background-color: rgba(186, 64, 27,0.8);
}

.blue:hover{
    background-color: rgb(186, 64, 27);
}

.green{
    background-color: rgba(226, 80, 36,0.8);
}

.green:hover{
    background-color: rgb(226, 80, 36);
}




/*Style the footer*/
.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }




/*Navigation bar*/
.navbar-custom, .footer {
  background-color: #e25024;
  border-color: #ba401b;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#89bfdb), to(#e25024));
  background-image: -webkit-linear-gradient(top, #e25024, 0%, #ba401b, 100%);
  background-image: -moz-linear-gradient(top, #e25024 0%, #ba401b 100%);
  background-image: linear-gradient(to bottom, #e25024 0%, #ba401b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe25024', endColorstr='#ffba401b', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #e25024;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #e25024;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #499cc7;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#499cc7), to(#70b1d3));
  background-image: -webkit-linear-gradient(top, #499cc7, 0%, #70b1d3, 100%);
  background-image: -moz-linear-gradient(top, #499cc7 0%, #70b1d3 100%);
  background-image: linear-gradient(to bottom, #499cc7 0%, #70b1d3 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff499cc7', endColorstr='#ff70b1d3', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #479bc7;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #499cc7;
  color: #c0c0c0;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #499cc7;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c0c0c0;
}






.modal-edit, {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 1.6s;
    animation-name: zoom;
    animation-duration: 1.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
